@font-face {
  font-family: "GolosText";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("GolosText"), url("/assets/fonts/GolosText-Regular.woff") format("woff");
}
@font-face {
  font-family: "GolosText";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("GolosText"), url("/assets/fonts/GolosText-Medium.woff") format("woff");
}
@font-face {
  font-family: "GolosText";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("GolosText"), url("/assets/fonts/GolosText-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "GolosText";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("GolosText"), url("/assets/fonts/GolosText-Bold.woff") format("woff");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "GolosText";
  font-weight: 400;
  font-size: 16px;
  color: #212121;
}

.container {
  width: 100%;
  max-width: 1700px;
  padding: 0 10px;
  margin: 0 auto;
}

.primary-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  font-family: "GolosText";
  background: #E51849;
  padding: 25px 35px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s linear;
}
.primary-btn:hover {
  background: #472080;
}

.header__top {
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-flexBlock {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 140%;
}
.header__top-flexBlockName {
  color: #757575;
}
.header__top-flexBlockValue button {
  padding: 0;
  margin: 0;
  background: transparent;
  color: #212121;
  font-family: "GolosText";
  text-decoration: underline;
  border: none;
  overflow: none;
  font-size: 14px;
}
.header__bottom {
  padding-top: 15px;
  padding-bottom: 30px;
}
.header__bottom-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #212121;
}
.header__logo p {
  line-height: 110%;
  font-weight: 500;
}
.header__infoBlock {
  display: flex;
  align-items: stretch;
  gap: 35px;
}
.header__infoBlock-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__infoBlock-socials {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__infoBlock-socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background: #F7F3FC;
  border-radius: 5px;
  text-decoration: none;
}
.header__infoBlock-numberBlock {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__infoBlock-numberBlock a {
  text-decoration: none;
  color: #212121;
  font-size: 18px;
  font-weight: 500;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 34px;
}
.header__nav-link {
  text-decoration: none;
  color: #212121;
  transition: all 0.2s linear;
}
.header__nav-link:hover {
  color: #472080;
}
.header__nav-item.subitem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__nav-item.subitem::after {
  content: "";
  display: block;
  width: 14px;
  height: 7px;
  flex-shrink: 0;
  background: url("/assets/images/blackArr.svg");
}
.header__nav-item.servicesItem {
  padding: 15px 20px;
  border: 1px solid #472080;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.header__nav-item.servicesItem:hover {
  background: #F7F3FC;
  border: 1px solid transparent;
}
.header__nav-item.servicesItem:hover .header__nav-burger div:first-child {
  width: 100%;
}
.header__nav-item.servicesItem:hover .header__nav-burger div:last-child {
  width: 100%;
}
.header__nav-item.servicesItem:hover .header__nav-link {
  color: #472080;
}
.header__nav-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15px;
  gap: 4px;
}
.header__nav-burger div {
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: #472080;
  flex-shrink: 0;
  transition: all 0.2s linear;
}
.header__nav-burger div:first-child {
  width: 50%;
}
.header__nav-burger div:last-child {
  width: 50%;
  align-self: flex-end;
}
.header__servicesMenu {
  cursor: auto;
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  background: red;
  top: 130px;
  display: flex;
}
.header__servicesMenu-category {
  background: #F7F3FC;
  width: 100%;
  max-width: 607px;
  padding: 40px 35px;
  border-radius: 30px;
}
.header__servicesMenu-categoryList {
  display: flex;
  flex-direction: column;
}
.header__servicesMenu-categoryItem {
  padding: 26px;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.2s linear;
  background: transparent;
  border-radius: 10px;
  position: relative;
}
.header__servicesMenu-categoryItem::after {
  content: "";
  position: absolute;
  right: 26px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E51849;
  top: 50%;
  transform: translateY(-50%);
}
.header__servicesMenu-categoryItem:hover {
  background: #fff;
}
.header__servicesMenu-categoryItem.active {
  background: #fff;
}
.header__servicesMenu-categoryItem.active::after {
  width: 7px;
  height: 12px;
  border-radius: 0;
  background: url("/assets/images/redArr.svg");
}
.header__servicesMenu-rightBlock {
  width: 100%;
  padding: 60px;
}
.header__servicesMenu-searchBlock {
  width: 100%;
  position: relative;
}
.header__servicesMenu-searchBlock svg {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.header__servicesMenu-search {
  width: 100%;
  padding: 25px 30px;
  border: 1px solid #EDE9F3;
  outline: none;
  border-radius: 15px;
  color: #757575;
  font-size: 18px;
  font-family: "GolosText";
}
.header__servicesMenu-search::-moz-placeholder {
  color: #757575;
  font-size: 18px;
  font-family: "GolosText";
}
.header__servicesMenu-search::placeholder {
  color: #757575;
  font-size: 18px;
  font-family: "GolosText";
}/*# sourceMappingURL=style.css.map */